<% if !article.members_only or (current_user and current_user.member) %>
	<% if article.announcement %>
		<li class='announcement'>
	<% else %>
		<li>
	<% end %>
	<% if format and format == :feed %>
	<% span = "span6" %>
	<% else %>
	<% span = "span8" %>
	<% end %>
		<div class='row'>
			<div class='<%= span %>'>
				<h4 class='title'><%= article.title %></h4>
			</div>
		</div>
		<div class='row'>
			<div class='<%= span %>'>
				<span class='content'>
					<%= sanitize article.content, tags: %w(br iframe img a b ul ol li), attributes: %w(width height src frameborder allowfullscreen href target) %>
				</span>
				<span class='timestamp'>
					Posted <%= time_ago_in_words(article.created_at) %> ago by <%= link_to article.user.character, article.user %>.
				</span>
				<% if current_user and (current_user?(article.user) or current_user.admin) %>
					<%= link_to "delete", article, method: :delete, confirm: "Are you sure?", title: article.title %>
				<% end %>
			</div>
		</div> 
	</li>
<% end %>
