<% provide(:title, "Apply") %>
<% provide(:game, 'combined') %>
<h1>Application</h1>
<div class='row'>
	<div class='span6 offset3'>
		<%= simple_form_for @user do |f| %>
			<%= render 'shared/error_messages' %>
			<%= f.input :name %>
			<%= f.input :character, hint: "Main Character. This will be used on the forums." %>
			<%= f.input :email %>
			<%= f.input :wow, label: "WoW", :as => :boolean, :wrapper => :checkbox %>
			<%= f.input :tera, label: "TERA", :as => :boolean, :wrapper => :checkbox %>
			<%= f.input :password %>
			<%= f.input :password_confirmation, label: "Confirmation" %>
			<%= f.submit "Apply", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
