<% provide(:title, "Apply") %>
<% provide(:game, 'combined') %>
<h1>Application</h1>
<div class='row'>
	<div class='span6 offset3'>
		<%= form_for @user do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :name %>
			<%= f.text_field :name %>
			<%= f.label :character %>
			<%= f.text_field :character %>
			<%= f.label :email %>
			<%= f.email_field :email %>
			<%= f.label :wow %>
			<%= f.check_box :wow %>
			<%= f.label :tera %>
			<%= f.check_box :tera %>
			<%= f.label :apply %>
			<%= f.text_area :apply %>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
			<%= f.submit "Apply", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
