<% provide(:title, @user.character) %>
<% provide(:game, user_game(@user)) %>
<div class='row'>
	<aside class='span2'>
		<section>
			<h1>
				<%= @user.character %>
			</h1>
			<br/>
			<h4>
				<% if @user.member %>
					Guildy
				<% else %>
					Recruit
				<% end %>
			</h4>
			<br/>
			<% if current_user.admin? %>
				<h4>Application</h4>
				<p>
					<%= @user.apply %>
				</p>
			<% end %>
		</section>
	</aside>
	<div class='span10'>
		<div class= 'row'>
			<div class='span4 offset1'>
				<h4>WoW Toons</h4>
				<% if @wow_toons.any? %>
					<ul>
						<% @wow_toons.each do |wtoon| %>
							<li>
								<%= wtoon.name %>
								<% if @user == current_user %>
									<%= link_to 'Delete', wtoon, method: :delete, confirm: "Are you sure?" %>
								<% end %>
							</li>
						<% end %>
					</ul>
				<% end %>
				<% if @user == current_user %>
					<%= form_for @wow_toon do |wf| %>
						<%= wf.label 'New Toon' %>
						<%= wf.text_field :name %>
						<%= wf.submit 'Create' %>
					<% end %>
				<% end %>
			</div>
			<div class='span4 offset1'>
				<h4>TERA Toons</h4>
				<% if @tera_toons.any? %>
					<ul>
						<% @tera_toons.each do |ttoon| %>
							<li>
								<%= ttoon.name %>
								<% if @user == current_user %>
									<%= link_to 'Delete', ttoon, method: :delete, confirm: "Are you sure?" %>
								<% end %>
							</li>
						<% end %>
					</ul>
				<% end %>
				<% if @user == current_user %>
					<%= form_for @tera_toon do |tf| %>
						<%= tf.label 'New Toon' %>
						<%= tf.text_field :name %>
						<%= tf.submit 'Create' %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% if @user.articles.any? %>
	<h3>Articles <%= @user.articles.count %></h3>
	<%= render 'shared/view_articles' %>
<% end %>
